<div #about id="about" class="container" data-aos="zoom-out">
  <div class="row">
    <div class="col-lg-6 about-image-div">
      <img
        src="../../../assets/Images/aboutus.png"
        alt="about-image"
        class="about-image"
      />
    </div>
    <div class="col-lg-6 about-content">
      <h1 class="about-heading">About</h1>

      <h6>
        The Sales Prediction Dashboard is a user-friendly web application that accurately forecasts sales based on historical data and relevant factors.
         Users can input product details and factors, and the backend API processes the data using a predictive model. 
         The application provides visual representations of the predicted sales amount and historical sales data, allowing users to make data-driven decisions and optimize their sales strategies. It empowers businesses to make informed decisions, improve performance, and drive success by leveraging reliable sales forecasts.
      </h6>
    </div>
  </div>
</div>
