<div class="container header-root-div" #headerDiv>
  <div class="row">
    <div class="col-lg-6 col-md-6 header-content-div">
      <h3 *ngIf="showName" class="welcomeName">Welcome! {{ name }},</h3>
      <h1 class="header-content">Forecast and Visualize</h1>
      <h1 class="header-content">Sales</h1>
    </div>
    <div class="col-lg-6 col header-image-div">
      <img
        class="header-image"
        src="../../../assets/Images/vecteezy_workspace-future-concept-with-big-display-data-report_.jpg"
        alt="header_image"
      />
    </div>
  </div>
</div>
